@tailwind base;
@tailwind components;
@tailwind utilities;

.bubble.left:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-top-right-radius: 10px;
    border-color: transparent transparent #000000 transparent;
    bottom: 0;
    left: -10px;
}

.bubble.right:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent;
    bottom: 0;
    right: -10px;
}

.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
}

.loader:before,
.loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}
.loader:before {
    animation: ball1 1s infinite;
    background-color: #0858ce;
    box-shadow: 30px 0 0 #07c803;
    margin-bottom: 10px;
}
.loader:after {
    animation: ball2 1s infinite;
    background-color: #07c803;
    box-shadow: 30px 0 0 #0858ce;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(0.8);
    }
    50% {
        transform: rotate(360deg) scale(1.2);
    }
    100% {
        transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 #07c803;
    }
    50% {
        box-shadow: 0 0 0 #07c803;
        margin-bottom: 0;
        transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #07c803;
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 #0858ce;
    }
    50% {
        box-shadow: 0 0 0 #0858ce;
        margin-top: -20px;
        transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #0858ce;
        margin-top: 0;
    }
}

.typing {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    margin-left: 52px;
    position: relative;
    color: #fff;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
    0% {
        box-shadow: -36px -6px, -12px 6px, 12px -6px;
    }
    33% {
        box-shadow: -36px 6px, -12px -6px, 12px 6px;
    }
    66% {
        box-shadow: -36px -6px, -12px 6px, 12px -6px;
    }
    100% {
        box-shadow: -36px 6px, -12px -6px, 12px 6px;
    }
}
